results/top_products_2022.html
results/dados_divergentes.html
results/top_products_proporc_2022.html
results/Dados_divergentes_vendas.html
results/dados_divergentes.html
Apriori Method 01 table.html
Apriori Method 01 table.html
.gitignore
Apriori_modelo_01.html
Apriori_modelo_02.html
Apriori_modelo_02.pdf
.gitignore
Boxplot_Vendas_agregadas_hora.html
dados_divergentes.html
dados_divergentes.pdf
Frequencia_vendas_hora_dia.html
Frequencia_vendas_itens_mensal.html
Hora_vendas_dias_semana.html
investiga_dados_atipicos.pdf
investiga_graf.html
